.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #00acac;
    color: #fff;
    font-size: 1.0625em;
}

.page-header-css {
    font-size: 24px;
    margin: 0 0 0px;
    padding: 0;
    border: 0;
    line-height: 32px;
    font-weight: 500;
}

.icon-page {
    background: linear-gradient(45deg, #00acac, #8753de);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 30%);
}

.icon-page-sidebar {
    background: linear-gradient(45deg, #242b30, #242b30);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 5px 25px rgb(80 80 80 / 30%);
}

 .nav>li.active>a .icon-page-sidebar{
    background: linear-gradient(45deg, #d9e0e7, #d9e0e7);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 5px 25px rgb(80 80 80 / 30%);
}

.text-page {
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 3px 4px rgb(0 0 0 / 30%);
}

.page-title-css {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:992.5px) {
    .page-title-css {
        display: grid;
        margin-bottom: 10px;
    }
}

.dev-by-hellos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-hellos {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #070d2d;
    padding: 10px;
    border-radius: 5px;
}

.panel-hellos:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #070d2d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 66%);
}

.btn-primary-css {
    color: #2d353c;
    border-color: #2d353c;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.line-page {
    height: 1.5px;
    margin: 0px 0px 15px 0px;
    background: #444e66;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 52%);
}

.line-page-table {
    height: 1.5px;
    margin: 0px 0px 15px 0px;
    background: #1d2226;
}

.line-page-bottom {
    height: 1.5px;
    margin: 0px 0px 10px 0px;
    background: #b1b3b5;
    box-shadow: 2px 3px 12px 0px rgb(0 0 0 / 52%);
}

.announcement {
    background: #1d2226;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.text-announcement {
    margin: 10px 10px 10px 10px;
}

.text-announcement-m {
    margin: 10px 0px 5px 0px;
}

.rowGrid {
    display: grid;
}

/* PICTURE */
.picture-w-550 {
    width: 550px;
}

.no-data {    
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.css-button {
    margin-bottom: 15px;
}

.btn-primary:focus {
    color: #fff;
}

/* Panel Data Count */
.count-table-data {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #002765;
    background-clip: border-box;
    border: 0 solid rgb(0 39 101);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    margin-bottom: 10px;
}

#bg-all-record {
    background: linear-gradient(161deg, rgb(29 34 38), #33393f);
    color: #fff;
    margin-top: -10px;
    margin-bottom: 10px;
}

.card-box,
.da-card {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 28px rgb(0 0 0 / 8%);
    box-shadow: 0 0 28px rgb(0 0 0 / 8%);
    padding: 20px;
}

.all-record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.all-record-detail {
    display: grid;
    margin-bottom: 0px;
}
/* End Panel Data Count */

/* Row FAQ */
#row-faq {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.line-dashboard {
    height: 1.5px;
    margin: 8px 0px -10px 0px;
    background: #8351d7;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 52%);
}

.btn-primary-profile {
    color: #348fe2;
    border: 2px solid #348fe2;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.btn-primary-profile:hover {
    color: #fff;
    border: 2px solid #348fe2;
    background-color: #348fe2;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.icon-primary-excel {
    width:  20px;
}

.icon-primary-pdf {
    width:  17px;
}

.icon-primary-print {
    width:  20px;
}


.btn-primary-excel {
    color: #348fe2;
    border: 2px solid #348fe2;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

/* BLINK */
.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

#panduan-images {
    display: show;
}

@media (max-width: 1199.5px) {
    #panduan-images {
        display: none;
    }
}

.for-select-tpb {
    border: transparent;
    background: #348fe217;
    color: #000000;
    border-radius: 5px;
    padding: 3px;
    font-size: 7px;
}

.for-unselect-tpb {
    border: transparent;
    background: #ff5b570d;
    color: #000000;
    border-radius: 5px;
    padding: 3px;
    font-size: 7px;
}

@media (max-width: 767.5px) {
    .titik-dua {
        display: none;
    }
}

.report-button-filter {
    padding: 10px;
    /*margin-left: -10px;*/
}

.bg-bc {
    background: linear-gradient(226deg, #0ba5b0, #825cdb);
}

.bg-plb {
    background: linear-gradient(226deg, #27b8b8, #27b8b8);
}

.bg-tpb {
    background: linear-gradient(226deg, #384850, #384850);
}

#RD {
    box-shadow: 7px 8px 4px rgb(0 0 0 / 52%);
}

.btn-RD {
        background: transparent;
        border-color: transparent;
        color: #fff;
        font-weight: 200;
}

.btn-RD:hover {
    background: #d9e0e7;
    border-color: #d9e0e7;
    color: #2d353c;
    font-weight: 200;
}

.for-header {
    display: flex;
    justify-content: center;
    align-content: baseline;
    margin: 0px;
}

@media (max-width: 1368px) {
    .for-header {
        display: none;
        justify-content: center;
        align-content: baseline;
        margin: 0px;
    }
    
} 

#nav-clock {
    margin-top: 18px;
    font-size: 10px;
}

.nav-garis {
    font-size: 35px;
    font-weight: 100;
    color: #c3c3c3;
}

@media (max-width: 996.5px) {
    #nav-clock {
        margin-top: 18px;
        font-size: 0px;
    }

    .nav-garis {
        font-size: 0px;
        font-weight: 0;
        color: #c3c3c3;
    }
}

#for-alert-index {
    margin-bottom: -35px;
    padding: 10px;
}

#for-info-index {
    /*margin-top: 30px;*/
    margin-bottom: -50px;
    padding: 10px;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
    z-index: 2;
  }
  
  section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
  }
  
  section .container {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
  }
  
  @media (max-width: 768px) {
    section {
      top: 120px;
    }
    section.section-show {
      top: 80px;
    }
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777777;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4F78C9;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    background: rgb(217 224 231);
    /* background: linear-gradient(45deg, #00acac, #007878); */
    /* padding: 80px 20px; */
    padding: 40px 20px;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    /* background: #18d26e; */
    background: linear-gradient(45deg, #00acac, #007878);
    border-radius: 5px;
    transition: all .3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
  }
  
  .services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: '';
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    transition: all .3s ease-out 0s;
    transform: translateZ(-1px);
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #333;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    background: linear-gradient(45deg, #4f78c9, #4f78c9);
    /* background-image: url("../../assets/img/icons/dashboard-summary.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #4F78C9;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #4F78C9;
  }
  
  .services .icon-box:hover .icon::before {
    background: #677799;
  }
  
  .services .icon-box:hover h4 a, .services .icon-box:hover p {
    color: #fff;
  }

  .row-choose {
    display: flex;
    margin-top: 30px;
    /*margin-bottom: 30px;*/
    justify-content: center;
}

.class-utama {
    padding: 10px;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .class-utama {
        padding: 10px;
        width: 30%;
    }
}

.class-one {
    background: #fff;
    border-radius: 5px;
}

.class-one:hover {
    box-shadow: 0 5px 25px rgb(0 0 0 / 30%)
}

.show-choose {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #4f78c9de;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 5px;
}

.show-choose:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


@media (max-width: 992.5px) {
    .row-choose {
        display: grid;
        justify-items: center;
    }
}

.btn-default-index {
    color: #00acac;
    background: transparent;
    border-color: #00acac;
    font-weight: 400;
}

.icon-box:hover .btn-default-index:hover {
    color: #4F78C9;
    background: linear-gradient(45deg, #fff, #fff);
    border-color: #fff;
    box-shadow: 0;
}

.btn-dark-custom {
    color: #2d353c;
    background-color: #fff;
    border-color: #2d353c;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.btn-dark-custom:hover {
    color: #2d353c;
    background-color: #fff;
    border-color: #2d353c;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.row-dinding {
    background: #fff;
    border-radius: 5px;
}

.svg-img-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-svg {
    width: 635px;
}

.widget-stats,
.widget.widget-stats {
    position: relative;
    color: #fff;
    /* padding: 15px; */
    padding: 13px;
    -webkit-border-radius: 4px;
    border-radius: 10px;
}

.class-report {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
}

.for-class-report {
    width: 40%;
    padding: 10px;
}

@media (max-width: 862.5px) {
    .class-report {
        display: grid;
        justify-content: normal;
        align-items: center;
    }

    .for-class-report {
        width: 100%;
        padding: 0px;
    }
}